body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #080f28;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Fundo com desfoque preto */
.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Desfoque estilo Netflix */
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5); /* Sobreposição preta */
}

/* Contêiner do formulário e imagem */
.login-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Caixa de diálogo de login */
.login-dialog {
    background: #080f28b8; /* Alterado para cor especificada */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.8);
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 500px;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


/* Estilo dos inputs */
.login-dialog input {
   padding: 12px;
    margin: 12px 0;
    width: 100%;
    border: 1px solid #007aff;
    border-radius: 5px;
    background-color: #fffefe;
    color: #000;
    font-size: 16px;
}

/* Botão de login */
.login-dialog button {
    padding: 12px 24px;
    background-color: #001360db; /* Alterado para cor especificada */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.login-dialog button:hover {
    background-color: #081a4c; /* Efeito de hover ajustado */
}

/* Estilo del mensaje de error */
.error-message {
    display: none;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 15px;
    border-radius: 5px;
    position: relative; /* Cambiar de absolute a relative */
    top: 10px; /* Espacio debajo del botón */
    left: 0;
    transform: none;
    opacity: 0;
    transition: opacity 0.5s, top 0.5s;
    font-size: 16px;
    width: 100%;
    max-width: 450px;
    text-align: center;
    margin-top: 10px; /* Añadir margen para separación */
}

/* Cuando se muestra el error */
.error-message.show {
    display: block;
    opacity: 1;
}

/* Imagem à direita com o fundo */
.login-image {
    flex: 1;
    background: url('https://i.ibb.co/TqmR1W3z/5098610442665831911.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    position: relative; /* Necessário para que o ::before funcione corretamente */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: -1; /* Coloca a imagem no fundo */
}

/* Imagem à direita com o fundo */
.login-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080f288c; /* Alterado para cor especificada */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1;
    pointer-events: none;
}

/* Posição padrão */
#errorMessage {
    top: 350px; /* Para PC */
}

/* Posição padrão */
#errorMessage {
    top: 350px; /* Para PC */
}

/* Para dispositivos móveis (celular) */
@media (max-width: 768px) {
    #errorMessage {
        top: 250px; /* Para celular */
    }
}

/* Para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    #errorMessage {
        top: -50px; /* Para tablet */
    }
}

/* Para Smart TVs e outros dispositivos maiores (sem alteração) */
@media (min-width: 1024px) {
    #errorMessage {
        top: 350px; /* Para smart TV e dispositivos maiores (sem alteração) */
    }
}

/* Ocultar o scroll apenas na versão celular */
@media (max-width: 768px) {
    body, html {
       
        height: 100%; /* Garantir que o conteúdo ocupe toda a altura */
    }

    .login-container {
        display: flex;
        position: fixed; /* Torna o login fixo */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        z-index: 10000; /* Garante que o login fique acima de tudo */
    }

    /* Opcional: Ajuste para a imagem de fundo, para não ser afetada */
    .login-image {
        filter: none; /* Retira o efeito de desfoque se não for necessário */
    }
}

/* Responsividade - ajuste para dispositivos menores */
@media (max-width: 1024px) {
    .login-container {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .login-dialog {
        max-width: 80%;
        padding: 30px;
        margin: 0 auto;
    }

    .login-dialog input, .login-dialog button {
        font-size: 14px;
        padding: 10px;
    }

    .login-image {
        flex: 1;
        display: block; /* A imagem deve ser visível em tablets */
        filter: blur(5px); /* Menor desfoque em dispositivos menores */
    }
}

/* Versão responsiva para celular */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-dialog {
        max-width: 90%;
        padding: 25px;
    }

    .login-dialog input, .login-dialog button {
        padding: 10px;
        font-size: 14px;
    }

    .login-image {
        display: none; /* Imagem oculta em dispositivos móveis */
    }
}

@media (max-width: 480px) {
    .login-dialog {
        padding: 20px;
        max-width: 95%;
        margin: 0 auto;
    }

    .login-dialog input, .login-dialog button {
        padding: 8px;
        font-size: 12px;
    }

    .login-image {
        display: none; /* Imagem oculta em dispositivos muito pequenos */
    }
}
.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.magnifier-animation {
    width: 50px;
    height: 50px;
    border: 4px solid white;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 255, 255, 0.3);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#languageDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
#discoverButton {
    position: relative;
    overflow: hidden;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007aff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#discoverButton:disabled {
    background-color: #005bb5;
    cursor: not-allowed;
}

#progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Estilo para o diálogo */
.dialog {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    backdrop-filter: blur(10px); /* Desfoque no fundo */
    justify-content: center;
    align-items: center;
    z-index: 1001; /* Acima do resto do conteúdo */
}

.dialog-content {
    background-color: #ffffff; /* Fundo branco */
    padding: 20px;
    border-radius: 20px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center;
    width: 80%;
    max-width: 400px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* Fonte estilo iOS */
    animation: fadeIn 0.3s ease-in-out; /* Animação de aparição */
}

.dialog-content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333333; /* Texto em cor escura */
}

.dialog-content button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 12px; /* Bordas arredondadas */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#cancelButton {
    background-color: #f0f0f5; /* Fundo cinza claro */
    color: #333333; /* Texto em cor escura */
}

#cancelButton:hover {
    background-color: #e0e0e5; /* Fundo cinza um pouco mais escuro no hover */
}

#publishButton {
    background-color: #007aff; /* Fundo azul estilo iOS */
    color: white; /* Texto branco */
}

#publishButton:hover {
    background-color: #005bb5; /* Fundo azul um pouco mais escuro no hover */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(182deg, rgb(0 19 96 / 86%) 0, rgb(18 32 90) 1%, #141a32);
   
    padding: 10px 20px;
    flex-wrap: wrap;
}

.left-header, .right-header {
    display: flex;
    align-items: center;
}
/* Reseta margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Esconde o select apenas na versão tablet */
@media (max-width: 1024px) and (min-width: 600px) {
    #popularityFilter {
        display: none; /* Remove o elemento da visualização */
    }
}

header {

display: flex;
margin-top: -9px;
 /* Garante que o cabeçalho fique acima de outros elementos */
border-bottom: 1px solid #e5e5e5;
background: linear-gradient(182deg, rgb(0 19 96 / 86%) 0, rgb(18 32 90) 1%, #141a32);
}
.logo {
	
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
}

nav button {
    background-size: 400% 400%;
    background-image: linear-gradient(178deg, #FF0000, #000, #00f3ff, #dd0033f0);
    animation: mygradient 8s ease infinite;
    color: #fff;
    border: none;
    margin-right: 10px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 3px;
}

nav button:hover {
    background-color: #0056b3;
}
/* Estilos gerais do formulário */
#editForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    max-width: 400px;
    max-height: 300px;
    overflow-y: auto; /* Adiciona rolagem vertical */
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Estilos dos rótulos */
#editForm label {
    font-size: 14px;
    font-weight: normal;
    color: #444;
    margin-bottom: 3px;
}

/* Estilos dos inputs de texto */
#editForm input[type="text"],
#editForm textarea {
    width: 100%;
    padding: 8px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    transition: border-color 0.2s ease;
}


.stats span {
    margin-right: 15px;
    color: #999393;
}

.meta-updater {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.meta-updater span {
    margin-right: 10px;
    color: #0f5d06;
}
/* Ocultar a barra de progresso inicialmente */
.progress-container {
    display: none;
}

/* Estilo da barra de progresso */
.progress-bar {
    width: 0%;
    height: 20px;
    background-color: #4caf50;
    transition: width 0.5s;
}

.progress-bar {
    width: 100px;
    height: 10px;
    background-color: #33ff00;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px 0 0 5px;
}

.meta-updater button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 3px;
}

.meta-updater button#continueButton {
    background-color: #007bff;
}

.search-bar {
    display: flex;
    align-items: center;
}

/* CSS para estilizar os elementos select */
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8; /* Cor de fundo padrão */
}

/* Quando o select estiver focado */
select:focus {
    outline: none; /* Remover a borda de foco padrão */
    border-color: #66afe9; /* Cor da borda quando em foco */
}

/* Estilo hover */
select:hover {
    background-color: #eaeaea; /* Cor de fundo ao passar o mouse */
}

/* Estilo hover quando focado */
select:hover:focus {
    background-color: #dcdcdc; /* Cor de fundo quando focado e passando o mouse */
}

.search-bar input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.filters {
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(182deg, rgb(0 19 96 / 86%) 0, rgb(18 32 90) 1%, #141a32);
    padding: 10px 20px;
    border-bottom: 1px solid #e5e5e5;
}

.filters select, .filters button {
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
    background-size: 400% 400%;
    background-image: linear-gradient(178deg, #00b4ff, #000, #00f3ff, #dd0033f0);
    animation: mygradient 8s ease infinite;
    color: #fff;
    color: #000;
    border: 1px solid #1bb8ff;
    border-radius: 3px;
    cursor: pointer;
}

.filters button {
    background-color: #007bff;
    color: #fff;
}

.filters button:hover {
    background-color: #0056b3;
}

.status-bar {
    background: linear-gradient(182deg, rgb(0 19 96 / 86%) 0, rgb(18 32 90) 1%, #141a32);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.main {
    flex: 1;
    padding-bottom: 50px; /* Height of the status bar */
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
}
/* Estilos específicos para desktop */
@media (min-width: 1024px) {
    .movie-grid {
        grid-template-columns: repeat(10, 1fr); /* 10 colunas para desktop */
    }
}
@media (max-width: 600px) {
    .movie-grid {
        grid-template-columns: repeat(3, 1fr); /* 2 colunas no modo celular */
    }
}
.rating {
    display: none !important;
}
.movie-card {
    background-color: #080f28;
    border: 1px solid #e3c0c0;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


.movie-card {
    position: relative; /* Necessário para posicionar o "+" dentro do card */
}

.movie-card img {
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center center; /* Garante que o zoom ocorra no centro da imagem */
    width: 100%; /* Garante que a imagem ocupe o tamanho completo do card */
}

.movie-card img:hover {
    filter: blur(5px) brightness(1.2); /* Desfoque e brilho aumentado */
    transform: scale(1.2); /* Aumenta a imagem em 1.2x */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8); /* Adiciona brilho ao redor da imagem */
}

/* Adiciona o símbolo "+" com borda arredondada, vermelha e tamanho fixo no topo à esquerda */
.movie-card::after {
    content: "+"; /* Símbolo "+" */
    position: absolute;
    top: 10px; /* Coloca o "+" no topo */
    left: 10px; /* Coloca o "+" à esquerda */
    font-size: 16px; /* Tamanho menor do ícone */
    color: white; /* Cor do ícone */
    background-color: red; /* Cor de fundo vermelha */
    border-bottom-right-radius: 50%; /* Borda arredondada */
    width: 30px; /* Largura fixa */
    height: 30px; /* Altura fixa */
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza o "+" dentro do círculo */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transições para aparecer e para o efeito */
    pointer-events: none; /* Garante que o ícone não interfira nas interações com a imagem */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8); /* Adiciona um brilho sutil ao redor do "+" */
    animation: shine 1.5s infinite alternate; /* Animação de brilho */
}

.movie-card:hover::after {
    opacity: 1; /* Torna o "+" visível quando a imagem é passada */
    transform: translate(-50%, -50%) scale(1.1); /* Aumenta um pouco o "+" ao passar o mouse */
}

/* Animação de brilho pulsante */
@keyframes shine {
    0% {
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6), 0 0 30px rgba(255, 0, 0, 0.4);
    }
    100% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 1), 0 0 40px rgba(255, 0, 0, 0.8), 0 0 60px rgba(255, 0, 0, 0.6);
    }
}


.movie-card .title {
    padding: 10px;
    font-size: 0.9em;
    font-weight: bold;
}

.movie-card .release-date {
    padding: 10px;
    font-size: 0.8em;
    color: #555;
}

.spinner {
	transform: translate(-50%, -50%); /* Ajusta o centro para o meio da tela */
    z-index: 9999; /* Garante que o elemento esteja na frente de todos */
  
    display: none;
    margin: 40px auto;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #00fde8;
    border-radius: 50%;
    animation: spin 1s linear infinite;
	border: 8px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #FF0000;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.spinner {
    display: none;
  
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.2s;
}

.movie-card img:hover {
    transform: scale(1.1);
}

.movie-card h3 {
    font-size: 1rem;
    margin: 10px 0;
    color: #fff;
    text-align: center;
    font-weight: normal;
}
/* Estilos para o rodapé com o estilo iOS */
/* Estilos para o rodapé com o estilo iOS */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0; /* Cor de fundo estilo iOS */
    color: #333; /* Cor do texto */
    text-align: center;
    padding: 15px;
    display: none; /* Inicialmente oculto */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 1s ease-out;
    border-top: 1px solid #d1d1d6; /* Borda no estilo iOS */
    border-radius: 12px 12px 0 0; /* Bordas arredondadas no estilo iOS */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para o efeito iOS */
}

/* Animação para mostrar o rodapé */
.footer.show {
    display: block;
    opacity: 1;
}
/* Estilização da .box */
.box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid #fff;
    background-color: #080f28;
    padding: 20px;
    border-radius: 8px;
}

.box section {
    text-align: center;
    flex: 1 1 200px;
}

.box .number {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.box .text {
    font-size: 14px;
    color: #666;
}
.movie-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 0.9rem;
}

.rating {
    display: flex;
    align-items: center;
}

.rating img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    filter: invert(26%) sepia(100%) saturate(252%) hue-rotate(337deg) brightness(90%) contrast(95%);
}

.rating span {
    color: red;
}

/* Estilização da barra de pesquisa */
.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; /* Para alinhar à direita */
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 600px) {
    .filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .filters select,
    .filters button,
    .search-bar {
        width: 100%;
        margin: 5px 0;
    }

    .search-bar {
        justify-content: flex-end;
    }
}

/* Estilos para tablet (a partir de 600px) */
@media (min-width: 600px) and (max-width: 1024px) {
    .movie-grid {
        grid-template-columns: repeat(6, 1fr); /* 6 colunas para tablet */
    }
}
/* Estilo padrão - título sem negrito */
.movie-title {
    font-weight: normal;
}

/* Estilo para telas de 650px ou menos - título em negrito */
@media (max-width: 650px) {
    .movie-title {
        font-weight: bold;
    }
}

/* Estilização da barra de status */
.status-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.status-bar span {
    flex: 1;
    min-width: 200px; /* Para garantir que os spans se comportem bem em telas pequenas */
    text-align: center;
    margin: 5px 0;
}

/* Responsividade */
@media (max-width: 600px) {
    .status-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .status-bar span {
        width: 66%;
        text-align: left;
    }
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.left-header {
	margin-top: -9px;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

nav {
	        margin-top: 15px;
    display: flex;
}

nav button {
    margin: 0 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.stats {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.stats span {
    margin: 2px 0;
}

.right-header {
    display: flex;
    align-items: center;
}

.meta-updater {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.progress-bar {
    width: 100px;
    height: 10px;
    margin: 0 10px;
}

.progress {
    height: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-header,
    .stats {
        display: none; /* Ocultar elementos no mobile */
    }

    nav {
        width: 100%;
        justify-content: space-around;
    }

    nav button {
        flex: 1;
        margin: 5px;
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header-container {
        flex-direction: row;
        align-items: center;
    }

    .right-header,
    .stats {
        display: flex; /* Mostrar elementos em tablets e desktops */
    }

    nav {
        margin-left: auto;
    }

    .stats {
        flex-direction: row;
    }
}
.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
/* CSS para versão PC */
.logo {
	
    width: 200px; /* Ajuste conforme necessário */
    height: auto;
}

/* CSS para versão móvel */
@media (max-width: 768px) {
    .logo {
        width: 150px; /* Ajuste conforme necessário */
        height: auto;
    }
}
.left-header {
    display: flex;
    align-items: center;
}

.logo {
	margin-top: 6px;
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
}
.status-bar {
    position: fixed;
	height: 8%;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px; /* Reduz a altura */
    background-color: #1e1e1e; /* Ajuste a cor de fundo conforme necessário */
    transition: transform 0.3s ease;
    z-index: 1000; /* Garante que a barra de status fique sobre outros conteúdos */
}

.status-bar.hidden {
    transform: translateY(100%);
}
